* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region Color Palette */
:root {
    --resp-primary: #0084FD;
    --resp-secondary: #9792E4;
    --resp-demo: #B5DDFF;
    --resp-free: #FDC15F;
    --resp-dark: #333333;
    --resp-light: #FDFDFD;
    --resp-lighter: #FFFFFF;

}

/* #endregion Color Palette */
body {
    font-family: 'Open Sans', sans-serif;
}

/* #region Common */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* #endregion Common */

/* #region Utilities */
.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

/* #endregion Utilities */

/* #region header */
.menu {
    background-color: var(--resp-primary);
    padding: 1rem 0;
}

.menu .row {
    align-items: center;
}

.extended-menu {
    display: none;
}

.hamburger-menu {
    text-align: end;
}

/* #endregion header */

/* #region main */

/* #region Demo section */
.demo {
    padding: 2rem 0;

    & .card {
        background-color: var(--resp-demo);
    }
}

.demo h2 {
    color: var(--resp-primary);
}

/* #endregion Demo section */

/* #region Planning section*/
.planning {
    background-color: var(--resp-secondary);

    & [class^="col"]:nth-child(1)>.card {
        color: var(--resp-lighter);
    }

    & i{
        background-color: var(--resp-secondary);
    }
}

.planning [class^="col"]:nth-child(2)>.card {
    background-color: var(--resp-lighter);
}

/* #endregion Planning section */

/* #region Testimonial section */
.testimonial h2 {
    color: var(--resp-secondary);
}

.testimonial .card {
    background-color: var(--resp-secondary);
    color: var(--resp-lighter);
}

/* #endregion Testimonial section*/

/* #region Benefit section */
.benefit {
    background-color: var(--resp-secondary);

    &>h2 {
        color: var(--resp-lighter);
    }

    & .card{
        background-color: var(--resp-lighter);

        & h2, h3{
            color: var(--resp-secondary);
        }

        & a{
            background-color: var(--resp-secondary);
        }
    }
}

/* #endregion Benefit section */

/* #region About section */
.about{
    & h2{
        color: var(--resp-secondary);
    }

    & [class^="col"]:nth-child(2) > .card{
        & p{
            color: var(--resp-secondary);
        }
        & a{
            background-color: var(--resp-secondary);
            color: var(--resp-lighter);
        }
    }
}
/* #endregion About section */

/* #region Get-started section */
    .get-started{
        background-color: var(--resp-secondary);
        color: var(--resp-lighter);

        & .free-adv{
            color: var(--resp-free);
        }

        & a{
            background-color: var(--resp-lighter);
            color: var(--resp-secondary);
        }
    }
/* #endregion Get-started section */

/* #endregion main */

/* #region footer */
.site-footer{
    background-color: var(--resp-dark);
    color: var(--resp-light);

    & a{
        text-decoration: underline;
        color: var(--resp-primary);
    }
}
/* #endregion footer */